#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 500%;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 500%;
}

#body {
    padding-top:20vh;

}
#footerPaper{
   

}